html, body, p {
    background-color: black;
    color: white ;
    font-family: 'Urbanist', sans-serif;
}

h1 {
    color: white;
    text-transform: capitalize;
    font-size: 8rem;
    font-family: 'Calistoga', sans-serif;
}

p {
    background-color: black;
    color: white !important;
    font-size: 1.2rem  !important;
}

.uk-button-text, .uk-navbar-item {
    font-size: 1rem;
}

.uk-navbar-container {
    background-color: transparent !important;
}

.uk-navbar-nav > li.uk-active > a {
    color: rgb(194, 192, 192) !important;
}

a {
    color: #ce0058 !important;
}

a:hover {
    color: #d2d2d2;
}

