html, body, p {
    background-color: black !important;
    color: white !important;
    font-family: 'Urbanist', sans-serif;
}

h1 {
    color: white !important;
    text-transform: capitalize !important;
    font-size: 8rem !important;
    font-family: 'Calistoga', sans-serif;
}

p {
    background-color: black !important;
    color: white !important;
    font-size: 1.2rem !important;
}

.uk-button-text, .uk-navbar-item {
    font-size: 1rem !important;
}

.uk-navbar-container {
    background-color: transparent !important;
}

.uk-navbar-nav > li.uk-active > a {
    color: rgb(194, 192, 192) !important;
}

a {
    color: #ce0058 !important;
}

a:hover {
    color: #d2d2d2 !important;
}

